# ===== CONFIGS LOCAIS / SEGREDOS =====
.env
*.env
.env.*
!.env.example

# ===== BANCOS DE DADOS =====
*.db
*.sqlite
*.sqlite3

# ===== PYTHON =====
__pycache__/
*.py[cod]
*.log

# Virtualenv
.venv/
venv/

# ===== OUTROS =====
.DS_Store
*.swp
